@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

.card-img-top {
  /* width: 100%;
  height: 15vw; */
  object-fit: cover;
}
